
.title h1 {
    background-color: blue;
}
body {
    line-height: 50px;
    background-color: burlywood;
    background-image: url(../1200px-Flag_of_Ghana.svg.png);
}

.card{
   height: 400px;
    width: 700px;
    position: absolute;
}
